body{
	font-size:16px;
	
}

h1{
	color:solid black;

}
*{
      box-sizing:border-box;
	
   }
   h1{
      text-align:center;
	  }
	 
	
	 .row{
		 width:100%;
		 padding:auto;
		 background-color:#6c757d;;
	 }

#header-nav {
  
    border-radius: 0;
    border: 0;

}
.col-6{
	padding:10px;
	border:50px;
	margin:700px;
	background-color:#6c757d;;

}
.col-lg-11{
	padding:2px;
	border:2px;
	background-color:#6c757d;;
	margin:10px;
}
.navbar-toggler-icon{
	float:right;
	left:20px;
}
#header-nav button {
    margin-top: 22px;
	float:right;
	left:2em;
}
.navbar-collapse {
    border-top: 0;
}
.navbar-brand, .navbar-nav li a {
    line-height: 76px;
    height: 76px;
    padding-top: 0;
}
.navbar-brand a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px #fe9797;
}

#nav-list {
	 text-align: center;
	 
	float:right;
	left:2em;
	width:100%;
    
}


#nav-list a {
   
    font-weight: bolder;
    color: #282828;
    font-size: 1.2em;
}

#nav-list a:hover {
    color: #202020;
    background-color: #fce29e;
}


.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}


	
 .dropdown { 
            position: relative !important;
           float:right;
        } 
          
        .dropdown-menu { 
            box-shadow: 0.5em 1em rgba(0, 0, 0, .15)!important; 
            margin-top: 0px !important; 
            min-width: 100% !important; 
        }
.dropdown-item{
	width:100%;
}
		.col-8 .container{
			 width:100%;
			 margin:auto;
			 padding:auto 20px auto 20px;
		 }
		
