body{
	font-size:16px;
	 /*	color:#fff;
background-color:#61122f;*/
}

/*.titlee{
	text-decoration:none;
	font-size:16pt;
	color:#f6b319;
	
	position:relative;
	float:left;
}
.menustyle{
	
	text-decoration:none
	
	
}*/
h1{
	color:solid black;

}
*{
      box-sizing:border-box;
	
   }
   h1{
      text-align:center;
	  }
	 
	/* .data{
		  
		  font-size:15pt;
		    
	 }
	 .subhead{
		 font-size:15pt;
	 }*/
	 .row{
		 width:100%;
		 padding:auto;
	 }
/*.col-12{
	
	
}*/
#header-nav {
  
    border-radius: 0;
    border: 0;

}
.col-6{
	padding:10px;
	border:50px;
	margin:700px;
	background-color:gray;

}
.col-lg-11{
	padding:2px;
	border:2px;
	background-color:gray;
	margin:10px;
}
.navbar-toggler-icon{
	float:right;
	left:20px;
}
#header-nav button {
    margin-top: 22px;
	float:right;
	left:2em;
}
.navbar-collapse {
    border-top: 0;
}
.navbar-brand, .navbar-nav li a {
    line-height: 76px;
    height: 76px;
    padding-top: 0;
}
.navbar-brand a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px #fe9797;
}

#nav-list {
	 text-align: center;
	 
	float:right;
	left:2em;
	width:100%;
    
}


#nav-list a {
   
    font-weight: bolder;
    color: #282828;
    font-size: 1.2em;
}

#nav-list a:hover {
    color: #202020;
    background-color: #fce29e;
}


.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}


/*
.button1 {
    margin-top: 10px;
	/*background-color:pink;
	text-align:right;
	position:relative;
	float:right  !important;
	
	
	
	
}



.col-centered{
	display:inline-block;
	float:none;
	text-align:left;
	margin-right:-4px;
	text-align:center;
	border:1px solid #ddd;
}*/
 .dropdown { 
            position: relative !important;
           float:right;
        } 
          
        .dropdown-menu { 
            box-shadow: 0.5em 1em rgba(0, 0, 0, .15)!important; 
            margin-top: 0px !important; 
            min-width: 100% !important; 
        }
.dropdown-item{
	width:100%;
}
		.col-8 .container{
			 width:100%;
			 margin:auto;
			 padding:auto 20px auto 20px;
		 }
		